@media screen and (max-width: 910px)
{
    html.responsive span.nonresponsive_hidden {
        display: inline;
    }

    html.responsive img.nonresponsive_hidden {
        display: block;
    }

    html.responsive a.nonresponsive_hidden {
        display: block;
    }
}

@media screen and ( max-device-width: 640px )
{
    .responsive_optin_link .btn_medium > span {
        font-size: 22px;
    }

    html.force_desktop body #footer_responsive_optin_spacer {
        height: 75px;
    }
}

@media screen and ( max-device-width: 500px )
{
    .responsive_optin_link .btn_medium > span {
        font-size: 26px;
    }

    html.force_desktop body #footer .responsive_optin_link {
        padding: 25px 0;
    }

    html.force_desktop body #footer_responsive_optin_spacer {
        height: 91px;
    }
}

@media screen and ( max-device-width: 400px )
{
    .responsive_optin_link .btn_medium > span {
        font-size: 34px;
    }

    html.force_desktop body #footer .responsive_optin_link {
        padding: 40px 0;
    }

    html.force_desktop body #footer_responsive_optin_spacer {
        height: 133px;
    }

}

@media print
{
    html .responsive_page_menu_ctn.mainmenu,
    html .responsive_local_menu_tab,
    html .responsive_page_menu_ctn.localmenu,
    html .responsive_header {
        display: none;
    }
}

html.responsive body {
    min-height: 100%;
    height: auto;
    position: relative;
}
body.login {
    color: #E9E9E9;
    background-color: #181A21;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
body.v6 {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
body.v6 {
    background: #171d25;
}
body.v6 {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
body, body._3r3LeMDqAWrWz5yemfRZrr {
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

body.v6 .page_content {
    width: 940px;
    margin: 0 auto;
}
div.page_content {
    width: 940px;
    margin: 0px auto;
}

div#global_header {
    background: #171d25;
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}
div#footer, div#global_header, div#store_header, div#main, div.page_area {
    padding-left: 16px;
    padding-right: 16px;
}

.responsive_page_content {
}

div#global_header {
    background: #171d25;
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}
div#footer, div#global_header, div#store_header, div#main, div.page_area {
    padding-left: 16px;
    padding-right: 16px;
}

div#global_header .content {
    background: #171d25;
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
}

div#global_header .menuitem {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.supernav {
}
a {
    text-decoration: none;
    color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
}
.content {
    background: #171d25;
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
}

div#global_header div.logo {
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
}

div#global_header .submenuitem {
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
    color: #dcdedf;
    padding-right: 15px;
    padding-left: 15px;
}

.supernav_content a.submenuitem {
    display: block;
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 12px;
}

div#global_header .menuitem.supernav_active {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2.5px;
        background: #1a9fff;
        border-radius: 3px;
        animation: slide 0.1s;
        margin-top: 2px;
    }
}
.supernav {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2.5px;
        margin-top: 2px;
    }
}

div#global_header .menuitem.supernav_active {
    color: #1a9fff;
}

div#global_header .menuitem {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

div#global_actions {
    position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 401;
}

div#global_actions #global_action_menu {
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

#global_action_menu > * {
    vertical-align: top;
}
.header_installsteam_btn {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

div#global_actions a.global_action_link, div.admin_actions a.global_action_link {
    color: #b8b6b4;
}
div#global_actions a.global_action_link {
    padding: 0 4px;
}
#global_action_menu > * {
    vertical-align: top;
}

#global_action_menu > * {
    vertical-align: top;
}
body.v6 .pulldown {
    margin-right: 5px;
}
.pulldown {
    padding-left: 5px;
    padding-right: 18px;
    background-image: url(https://store.akamai.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

body.login.global .page_content {
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top no-repeat, #181A21;
}
body.login .page_content {
    padding: 0px 8px;
    width: 100%;
}

#global_action_menu > * {
    vertical-align: top;
}
.header_installsteam_btn {
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

.header_installsteam_btn_green .header_installsteam_btn_leftcap, .header_installsteam_btn_green .header_installsteam_btn_rightcap, .header_installsteam_btn_green .header_installsteam_btn_content {
    background-color: #5c7e10;
}

.header_installsteam_btn_content {
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}

.responsive_page_content_overlay {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
    transition: visibility 0.5s, opacity 0.5s;
}

._2kLRmRsLwjGDlm-ZfUpChG {
    padding-top: 80px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ZOBYq36SukEm_Fi_77g2q {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ZOBYq36SukEm_Fi_77g2q ._286ehAfuyQhmQn7TSYweZ9:not(.IN_CLIENT) {
    width: 100%;
}
.ZOBYq36SukEm_Fi_77g2q ._1mhmmseSBKL7v66ts9ZWnR {
    display: flex;
    flex-direction: column;
}

.ZOBYq36SukEm_Fi_77g2q ._286ehAfuyQhmQn7TSYweZ9 ._39uMKt8ePvr2Tw7x1YxJh3 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.ZOBYq36SukEm_Fi_77g2q ._286ehAfuyQhmQn7TSYweZ9 ._3jLIHRG2NdD0C8kOi-cxzl {
    background-color: #181a21;
    border-radius: 4px;
    padding: 24px 32px;
    flex: 1;
    min-width: 636px;
}

.ZOBYq36SukEm_Fi_77g2q ._1Wl13domZv872ZcbC_PVbv {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 10px;
}

.ZOBYq36SukEm_Fi_77g2q ._3Tsg92fl5YHs5NNgpidiWj {
    flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

.ZOBYq36SukEm_Fi_77g2q ._2KXGKToxF6BG65rXNZ-mJX {
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}

.ZOBYq36SukEm_Fi_77g2q ._3d8dp-U0xTT5RTZmRsmQds.XyqzE5F-3yIBYBLe1vbKM {
    color: #1999ff;
    font-weight: 500;
}

.ZOBYq36SukEm_Fi_77g2q ._2eKVn6g5Yysx9JmutQe7WV {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.ZOBYq36SukEm_Fi_77g2q ._3d8dp-U0xTT5RTZmRsmQds {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.ZOBYq36SukEm_Fi_77g2q ._2QWD5eymAFUZoQg29r-lQT {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.ZOBYq36SukEm_Fi_77g2q ._3tTFgWQ_SQnO3XzGEZkjRm {
    width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 2px;
    background-color: #32353c;
    cursor: pointer;
}

.ZOBYq36SukEm_Fi_77g2q ._3tTFgWQ_SQnO3XzGEZkjRm ._6EoZEzpC472tnBWRFndg2 {
    width: 100%;
    height: 100%;
    display: flex;
}

.SVGIcon_Button {
    fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}

.ZOBYq36SukEm_Fi_77g2q ._2QWD5eymAFUZoQg29r-lQT ._2yrCYTXI6l6-z1j-Hb41qD {
    color: #afafaf;
    font-size: 12px;
    user-select: none;
    padding-left: 6px;
}

.ZOBYq36SukEm_Fi_77g2q ._14fsnp12JwkJ28EVtQXPty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ZOBYq36SukEm_Fi_77g2q ._14fsnp12JwkJ28EVtQXPty button {
    width: 270px;
}
.ZOBYq36SukEm_Fi_77g2q ._2QgFEj17t677s3x299PNJQ {
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}
button {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.ZOBYq36SukEm_Fi_77g2q ._1Mcy9wnDnt1Q72FijsNtHC {
    color: #c15755;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.ZOBYq36SukEm_Fi_77g2q ._2meUB-qHRC9f-cX8Rw8QaZ {
    text-align: center;
}
.ZOBYq36SukEm_Fi_77g2q ._1cnUQ3RrQgqaLodJp0Ljnt {
    color: #afafaf;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #ffffff;
}

.ZOBYq36SukEm_Fi_77g2q ._2ZDySoTopw8XofnCKLNxDL {
    flex: 0;
    display: grid;
    gap: 4px;
    margin-left: 40px;
}

.ZOBYq36SukEm_Fi_77g2q ._3d8dp-U0xTT5RTZmRsmQds.XyqzE5F-3yIBYBLe1vbKM {
    color: #1999ff;
    font-weight: 500;
}
.ZOBYq36SukEm_Fi_77g2q ._3d8dp-U0xTT5RTZmRsmQds {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.ZOBYq36SukEm_Fi_77g2q ._2ZDySoTopw8XofnCKLNxDL ._3YjUmVPnH4QB_0Uthh9BmI ._1d6FZEReqGY-LD8AuorTdZ {
    aspect-ratio: 1;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 8px;
}

._2UEUT0mVy2VL0cqXLMSFJL {
    display: flex;
    flex-direction: column;
    align-items: center;
}

._1wtS3kmYl9DHluAbwsr5t._3j1v-Sr93F-CfYMfItkcEL {
    filter: blur(5px);
}
._1wtS3kmYl9DHluAbwsr5t {
    position: relative;
    width: calc(200px - 2.5em);
    height: calc(200px - 2.5em);
    border-style: solid;
    border-color: #fff;
    border-width: 1.25em;
    border-radius: .625em;
}
._3FhhKXkGL068MwN2xpa0eQ {
    display: grid;
}

._2Yuvr4pfextC4mHXeR4Zfk._274P1qNxJsRHpKvbKZIa6z {
    background-color: #212328;
}

.ZOBYq36SukEm_Fi_77g2q ._2ZDySoTopw8XofnCKLNxDL ._9xgsv0cUCLmOES66ybPjM {
    text-align: center;
    font-size: 12px;
    color: #afafaf;
}

.ZOBYq36SukEm_Fi_77g2q ._2ZDySoTopw8XofnCKLNxDL ._9xgsv0cUCLmOES66ybPjM :not(._2GR-72EQH6qpRuRNw2fI9f) {
    padding: 12px 0px;
}
.ZOBYq36SukEm_Fi_77g2q ._2meUB-qHRC9f-cX8Rw8QaZ {
    text-align: center;
}
.ZOBYq36SukEm_Fi_77g2q ._1cnUQ3RrQgqaLodJp0Ljnt {
    color: #afafaf;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.login_bottom_row {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: center;
    background-color: #181A21;
}

.login_bottom_row_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
}
.login_btn_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login .headline {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.login_btn_ctn a {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
}
.login_create_btn {
    padding: 3px 20px;
    color: white;
    text-shadow: none;
}
.btn_blue_steamui {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #c3e1f8;
    background: transparent;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.login_create_btn > span {
    padding: 0 20px;
}
.btn_medium > span, input.btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}
.btn_blue_steamui > span {
    border-radius: 2px;
    display: block;
    background: #75b022;
    background: -webkit-linear-gradient(top, #75b022 5%, #588a1b 95%);
    background: linear-gradient(to bottom, #75b022 5%, #588a1b 95%);
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-position: 25%;
    background-size: 330% 100%;
}

.login .subtext {
    font-size: 14px;
    color: #b8b6b4;
}

.login .login_join_desc {
    max-width: 60%;
    text-align: center;
    font-size: 14px;
}
.about_link {
    margin-top: 10px;
    color: #b8b6b4;
    text-decoration: underline;
}

body.login #footer_spacer {
    background-color: #181A21;
}
body.v6 #footer_spacer {
    height: 290px;
}

body.login #footer {
    background-color: #181A21;
}
body.v6 #footer {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 0 60px 0;
    margin: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    background: #171a21;
}
div#footer, div#global_header, div#store_header, div#main, div.page_area {
    padding-left: 16px;
    padding-right: 16px;
}

body.v6 #footer .footer_content {
    width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}

body.v6 #footer .rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

body.v6 #footer #footer_logo_steam {
    float: right;
    padding-top: 2px;
}

img {
    -webkit-user-drag: none;
}
img {
    border: none;
}

body.v6 #footer #footer_logo {
    float: left;
    padding-top: 2px;
}

body.v6 #footer #footer_logo img {
    height: 25px;
    width: auto;
}

body.v6 #footer #footer_text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}

body.v6 #footer #footer_text a {
    color: #C6D4DF;
}

body.v6 #footer .rule {
    height: 8px;
    border-top: 1px solid #363c44;
}

body.v6 #footer .valve_links {
    margin-top: 8px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #61686D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

body.v6 #footer .valve_links a {
    color: #C6D4DF;
    display: flex;
    align-items: center;
}

body.v6 #footer .extra_space {
    height: 60px;
}

:root {
    --indent-level: 0;
    --field-negative-horizontal-margin: 0px;
    --field-row-children-spacing: 0px;
}
:root {
    --gpSystemLightestGrey: #DCDEDF;
    --gpSystemLighterGrey: #B8BCBF;
    --gpSystemLightGrey: #8B929A;
    --gpSystemGrey: #67707B;
    --gpSystemDarkGrey: #3D4450;
    --gpSystemDarkerGrey: #23262E;
    --gpSystemDarkestGrey: #0E141B;
    --gpStoreLightestGrey: #CCD8E3;
    --gpStoreLighterGrey: #A7BACC;
    --gpStoreLightGrey: #7C8EA3;
    --gpStoreGrey: #4e697d;
    --gpStoreDarkGrey: #2A475E;
    --gpStoreDarkerGrey: #1B2838;
    --gpStoreDarkestGrey: #000F18;
    --gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
    --gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
    --gpColor-Blue: #1A9FFF;
    --gpColor-BlueHi: #00BBFF;
    --gpColor-Green: #5ba32b;
    --gpColor-GreenHi: #59BF40;
    --gpColor-Orange: #E35E1C;
    --gpColor-Red: #D94126;
    --gpColor-RedHi: #EE563B;
    --gpColor-DustyBlue: #417a9b;
    --gpColor-LightBlue: #B3DFFF;
    --gpColor-Yellow: #FFC82C;
    --gpColor-ChalkyBlue: #66C0F4;
    --gpBackground-LightSofter: #6998bb24;
    --gpBackground-LightSoft: #3b5a7280;
    --gpBackground-LightMedium: #678BA670;
    --gpBackground-LightHard: #93B8D480;
    --gpBackground-LightHarder: #aacce6a6;
    --gpBackground-DarkSofter: #0e141b33;
    --gpBackground-DarkSoft: #0e141b66;
    --gpBackground-DarkMedium: #0e141b99;
    --gpBackground-DarkHard: #0e141bcc;
    --gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
    --gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
    --gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
    --gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
    --gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);
    --gpCorner-Small: 1px;
    --gpCorner-Medium: 2px;
    --gpCorner-Large: 3px;
    --gpSpace-Gutter: 24px;
    --gpSpace-Gap: 12px;
    --gpNavWidth: 240px;
    --gpPaymentsNavWidth: 340px;
    --gpDselectWidth: 340px;
    --gpSidePanelWidth: 340px;
    顯示所有屬性 (還有 23 個)
}
::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}
::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}
